*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    
}

.cells{
    border: 1px solid;
    display: flex;
    font-size: 6vw;
    justify-content: center;
    align-items: center;
}


.header{
    display: flex;
    justify-content: space-between;
    margin: 4vw;
    width: 50vw;
}

.start{
    width: 10vw;
}

.cross{
    width: 10vw;
    height: 10vh;
    display: flex;
    background-color: aquamarine;
}